@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap");

@layer base {
	*,
	*::before,
	*::after {
		@apply box-border;
	}

	* {
		@apply m-0 p-0 font-body text-text select-none tracking-widest;
	}

	h1,
	h2 {
		@apply font-heading;
	}

	body {
		@apply min-h-screen bg-bg overflow-x-hidden;
	}

	header,
	footer {
		@apply w-screen px-16 bg-primary/80 backdrop-blur-sm flex justify-between border-secondary/80;
	}

	img,
	picture,
	svg,
	video,
	i {
		@apply block max-w-full;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		@apply !bg-primary border-[3px] rounded-lg [&>:not(:focus)]:hover-effect;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:focus {
		transition: background-color 0s 600000s, color 0s 600000s !important;
	}

	a:not(:has(*)) {
		@apply fancy-anchor;
	}
}

@layer components {
	.hover-effect {
		@apply duration-200 transition-colors [&:hover]:border-accent2;
	}

	.fancy-button {
		@apply fancy-anchor border-text !transition-all hover:scale-105;
	}

	.fancy-anchor {
		@apply px-2 py-1 h-min border-[3px] border-transparent rounded-lg uppercase hover-effect;
	}

	.fancy-anchor:not(.fancy-anchor-on) {
		@apply font-normal hover:text-accent2;
	}

	.fancy-anchor.fancy-anchor-on {
		@apply bg-text text-bg font-extrabold hover:bg-accent2;
	}
}
