@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap");

@layer base {
	*,
	*::before,
	*::after {
		@apply box-border;
	}

	* {
		@apply m-0 p-0 font-body text-text select-none tracking-widest;
	}

	*::-webkit-scrollbar {
		@apply hidden;
	}

	h1,
	h2 {
		@apply font-heading;
	}

	h2 {
		@apply text-4xl lg:text-5xl;
	}

	h3 {
		@apply text-2xl lg:text-3xl font-bold;
	}

	h4 {
		@apply text-lg lg:text-xl font-bold;
	}

	body {
		@apply min-h-screen bg-bg overflow-x-hidden;
	}

	img,
	picture,
	svg,
	video,
	i {
		@apply block max-w-full;
	}

	textarea,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	select {
		@apply !bg-primary border-[3px] rounded-lg [&>:not(:focus)]:hover-effect;
	}

	input[type="date"]::-webkit-calendar-picker-indicator {
		@apply hidden;
	}

	input,
	input:-webkit-autofill,
	input:-webkit-autofill:focus {
		transition: background-color 0s 600000s, color 0s 600000s !important;
	}

	a {
		@apply whitespace-nowrap;
	}

	a:not(:has(*)) {
		@apply fancy-anchor;
	}

	dialog::backdrop {
		@apply bg-black/80;
	}
}

@layer components {
	.invisible {
		@apply [visibility:hidden];
	}

	.bg-glass-sm {
		@apply bg-primary/60 backdrop-blur-sm border-2 border-secondary/60;
	}

	.bg-glass {
		@apply bg-primary/80 backdrop-blur-md border-2 border-secondary/80;
	}

	.bg-glass-secondary {
		@apply bg-secondary/80 backdrop-blur-md border-2 border-tertiary/80;
	}

	.hover-effect {
		@apply duration-200 transition-colors [&:not(:disabled)]:md:hover:border-accent2;
	}

	.fancy-button {
		@apply fancy-anchor border-text !transition-all [&:not(:disabled)]:md:hover:scale-105;
	}

	.fancy-anchor {
		@apply px-2 py-1 h-min border-[3px] border-transparent rounded-lg uppercase hover-effect;
	}

	.fancy-anchor:not(.fancy-anchor-on) {
		@apply font-normal [&:not(:disabled)]:md:hover:text-accent2;
	}

	.fancy-anchor.fancy-anchor-on {
		@apply bg-text text-bg font-extrabold [&:not(:disabled)]:md:hover:bg-accent2;
	}

	.fade-out-x-none {
		mask-image: linear-gradient(to right, white);
	}

	.fade-out-x {
		mask-image: linear-gradient(to right, transparent 0, white 4rem, white calc(100% - 4rem), transparent);
	}

	.fade-out-y-none {
		mask-image: linear-gradient(to bottom, white);
	}

	.fade-out-y {
		mask-image: linear-gradient(to bottom, transparent 0, white 4rem, white calc(100% - 4rem), transparent);
	}

	.fade-out-left {
		mask-image: linear-gradient(to right, transparent 0, white 4rem);
	}

	.fade-out-right {
		mask-image: linear-gradient(to left, transparent 0, white 4rem);
	}
}
